
@font-face {
  font-family: "LXGW WenKai CJK";
  src: url("/assets/fonts/LXGWWenKai-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;


  unicode-range:
    U+2000-206F, 
    U+3000-303F, 
    U+3400-4DBF, 
    U+4E00-9FFF, 
    U+F900-FAFF, 
    U+FF00-FFEF; 
}


body {
  font-family: "LXGW WenKai CJK", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
